.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.reco_conatiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
}

.all_container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
}
