.form_container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.form_container textarea {
  width: 100%;
  height: 100px;
  resize: vertical;
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  border: 1px solid silver;
  border-radius: 5px;
}

.form_container input {
  padding: 10px;
  box-sizing: border-box;
  color: white;
  background-color: black;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.form_container button {
  width: 80px;
  padding: 10px;
  background-color: silver;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form_container:hover button {
  background-color: gray;
}

.form_container .submit_container {
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
