.container {
  background-color: black;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;

  padding: 0px 15px;
}

.header {
  height: 60px;

  font-weight: bold;
  font-size: 20px;
  line-height: 60px;
}

.header > a {
  color: rgb(229, 9, 20);
  text-decoration: none;
}
