.searchbar_container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.searchbar_container > input {
  flex: 1;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  border: 1px solid gray;
  color: white;
}

.searchbar_container > button {
  width: 80px;
  border-radius: 5px;
  border: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
